.container{
    display: flex;
}
.contain-contact{
    width: 22rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 50px;
    background: linear-gradient(90deg, #00D02D 0%, #51FE71 100%);
    transition: all .3s ease-in-out;
}
.contain-contact a{
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.contain-contact img{
    width: 2.8rem;
}

.contain-contact:hover{
    width: 18rem;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Tablet*/
@media screen and (max-width: 820px) {
    
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Mobile*/
@media screen and (max-width: 737px) {
    
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Mobile*/
@media screen and (max-width: 425px) {
    .contain-contact{
    width: 16rem;
    padding: .5rem 2rem;
}
}