.containProyectos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containProyectos-title{
    border: none;
    border-image: linear-gradient(45deg, #00b09b, #96c93d) 1;
    width: 400px;
}

.containProyectos-title h1{
    font-size: 2.0rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 1rem;
    color: #4B5563;
}



.containProyectos-trabajos{
    margin-top: 2rem;
    display: flex;
    align-items: start;
    width: 120%;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Tablet*/
@media screen and (max-width: 1400px){
    .containProyectos-trabajos{
        width: 100%;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Tablet*/
@media screen and (max-width: 850px){
    .containProyectos-trabajos{
        width: 100%;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Mobile*/
@media screen and (max-width: 425px) {
    .containProyectos-categorias ol{
        display: flex;
        flex-wrap: wrap;
    }
    .containProyectos-categorias button{
        margin: 0 .5rem 1rem;
    }
}