.capsula{
    display: inline-flex;
    justify-content: flex-start;
    padding: .25rem;
    border-radius: 10px;
    margin-bottom: .5rem;
    background: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
}
.capsula h4{
    color: #000;
    font-size: .8rem;
}