.servicios-contain{
    background-color: #ffffff;
    display: flex;
    color: #4B5563;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0 5rem;
    padding: 0 22.5rem 0;
}
.servicios-contain_info{
    border: none;
    width: 50%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.servicios-contain_info p{
    line-height: 1.3rem;
}
.servicios-contain_info h1{
    font-size: 2.0rem;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    color: #4B5563;
}
.servicios-contain_info_properties{
    display: flex;
    gap: 4rem;
    margin-top: 1rem;
}
.servicios-contain_info_properties h3{
    font-size: .9rem;
    margin-bottom: .2rem;
}
.servicios-contain_info_properties p{
    font-size: 1.5rem;
    color: #4B5563;
    font-weight: 700;
    margin-bottom: .9rem;
}


.servicios-contain_img{
    display: flex;
    justify-content: right;
}
.servicios-contain_img img{
    width: 40%;
    height: 40%;
    border-radius: 5%;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*PC*/
@media screen and (max-width: 1020px){
    .servicios-contain{
    padding: 0 3rem;
    }
    .servicios-contain_info{
    width: 70%;
    }

    .servicios-contain_img img{
    width: 50%;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Tablet*/
@media screen and (max-width: 850px){
    .servicios-contain{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
    }
    .servicios-contain_info{
    width: 90%;
    justify-content: center;
    }
    .servicios-contain_info_properties{
        display: flex;
        justify-content: center;
    }
    .servicios-contain_img{
        display: flex;
        justify-content: center;
    }
    .servicios-contain_img img{
    width: 40%;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Mobile*/
@media screen and (max-width: 425px) {
    .servicios-contain_items{
        flex-wrap: wrap;
    }
    .servicios-contain_s1{
        margin-bottom: 1rem;
    }

    .servicios-contain{
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    }
    .servicios-contain_info_properties{
        display: flex;
        justify-content: center;
    }
    
    .servicios-contain_info{
    width: 100%;
    }
    .servicios-contain_img img{
    width: 60%;
    }
}