.footer_contain{
    background: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
    padding: 0 0 2rem;
}
.footer_contain-txt h3{
    color: #1c1c1c;
}
.footer_contain-txt b{
    font-weight: 700;
}
.footer_contain-logos{
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}
.footer_contain-logos a{
    background-color: #1c1c1c;
    padding: .5rem;
    border-radius: 50px;
}
.footer_contain-txt{
    color: white;
    text-align: center;
}
.footer_contain-logos a:hover{
    border-radius: 10px;
    padding: .25rem;
    transition: all 0.25s ease-in-out;
    background: #1c1c1c;
    padding: .5rem;
    box-shadow: 10px 10px 0px -5px rgba(0, 0, 0, 0.197);
    transform: scale(1.2);
}

